<h1 class="h3 mb-2 text-gray-800">Lista de Empleados</h1>

<div>  
  <%= link_to new_employee_path, {remote: true, class: "btn btn-info", id: "anadir-categoria-btn"}  do %>
    <span class="fas fa-plus-square" ></span>
  <% end %>
</div>

<br />

<div class="card shadow mb-4">
    <div class="card-boddy">
        <div class="table-responsive">
            <table id="tablaEmpleados" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                <% @empleados.each do |e| %>
                    <tr id = "empleado_<%= e.id %>">
                        <td><%= e.id %></td>
                        <td><%= e.nombre %></td>
                        <td><%= e.apellido %></td>
                        <td>
                            <!-- <%= form_tag( '/searchEmpleado') do %><%= hidden_field_tag("id", value = e.id) %><%= submit_tag(value = "Lista", options = { class: "btn btn-primary" }) do %><% end %><% end %> -->
                            <%= form_tag( '/searchInCalendar') do %><%= hidden_field_tag("id", value = e.id) %><%= submit_tag(value = "Calendario", options = { class: "btn btn-primary" }) do %><% end %><% end %>
                        </td>
                        <td><%= link_to "editar", edit_employee_path(e), html_options = {class: "btn btn-info btn-xs", remote: true} %></td>
                        <td><%= link_to 'borrar', e, remote: true, method: :delete, data: {confirm: "¿Eliminar empleado: #{e.nombre}?"}, class: "btn btn-danger btn-xs"%></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%= render 'modal_empleados' %>