<h1 class="h3 mb-2 text-gray-800">Lista de Empleados</h1>

<div>  
  <%= link_to new_employee_path, {remote: true, class: "btn btn-info", id: "anadir-categoria-btn"}  do %>
    <span class="fas fa-plus-square"> Nuevo Empleado</span>
  <% end %>
</div>

<br />

<div class="card shadow mb-4">
    <div class="card-boddy">
        <div class="table-responsive">
            <table id="tablaEmpleados" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre / Apellido</th>
                    </tr>
                </thead>

                <tbody>
                <% @empleados.each do |e| %>
                    <tr id = "empleado_<%= e.id %>">
                        <td><%= e.id %></td>
                        <td><%= e.nombre + ", " + e.apellido %></td>
                        <td><%= link_to "Calendario", searchInCalendar_path(:id => e.id), html_options = {class: "btn btn-primary"} %></td>
                        <td><%= link_to "editar", edit_employee_path(e), html_options = {class: "btn btn-info btn-xs", remote: true} %></td>
                        <td><%= link_to 'borrar', e, remote: true, method: :delete, data: {confirm: "¿Eliminar empleado: #{e.nombre}?"}, class: "btn btn-danger btn-xs"%></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%= render 'modal_empleados' %>