$('#modalEmpleados').modal('toggle');
$('#empleado_<%= @empleado.id %>').replaceWith(
    '<tr id="empleado_<%= @empleado.id %>"><td><%= @empleado.id %></td><td><%= @empleado.nombre + ", " + @empleado.apellido %></td><td><%= link_to "Calendario", searchInCalendar_path(:id => @empleado.id), html_options = {class: "btn btn-primary"} %></td><td><%= link_to 'editar', edit_employee_path(@empleado), html_options = {class: "btn btn-info btn-xs", remote: true} %></td><td><%= link_to "borrar", @empleado, remote: true, method: :delete, data: { confirm: "¿Borrar empleado: #{@empleado.nombre}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);