<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="tablaRegistros" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Empleado</th>
                        <th>Entrada</th>
                        <th>Salida</th>
                        <th>Horas</th>
                    </tr>
                </thead>
                <tbody>
                    <% horas_al_mes = 0 %>
                    <% @lista.each do |reg| %>
                    <tr>
                        <td><%= reg.employee.nombre + " " + reg.employee.apellido%></td>
                        <td><%= reg.job_entry.strftime("%Y-%m-%d %H:%M") %></td>
                        <td><%= reg.job_exit.strftime("%Y-%m-%d %H:%M") %></td>
                        <td><%= reg.daily_hours %></td>
                        <% horas_al_mes = horas_al_mes + reg.daily_hours %>
                    </tr>
                    <% end %>
                </tbody>
            </table>

            <h5>Horas al mes: <%= horas_al_mes.to_f %></h5>
        </div>
    </div>
</div>