<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        Descargar Reporte en HTML:
                        <%= link_to "Aquí", reports_path(:id => params[:id]), :download => 'Reporte_Horario' %>
                        
                    </div>
                </div>
            </div>
            <br>
            <% reg = @records.first %>
            <h2><%= reg ? reg.employee.nombre + " " + reg.employee.apellido : "No hay registro de horarios" %></h2>
            <br>
            <table class="table table-bordered" id="tablaRegistros" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Entrada</th>
                        <th>Salida</th>
                        <th>Horas</th>
                    </tr>
                </thead>
                <tbody>
                    <% horas_al_mes = 0 %>
                    <% @records.each do |reg| %>
                    <tr>
                        <td><%= reg.job_entry.strftime("%d - %m - %Y") %></td>
                        <td><%= reg.job_entry.strftime("%I:%M:%S %p") %></td>
                        <td><%= reg.job_exit ? reg.job_exit.strftime("%I:%M:%S %p") : "Sigue trabajando" %></td>
                        <td><%= reg.daily_hours ? reg.daily_hours.round(2).to_s + " Horas" : "" %></td>
                        <% horas_al_mes = horas_al_mes + reg.daily_hours.to_f %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="container">
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3"><h4>Mensual: <%= horas_al_mes.round(2) %> Horas</h4></div>
                </div>
            </div>
        </div>
    </div>
</div>